$search-background: #4a58ff;
$text-color: #f8f8f9;
$count-color: #c7a05e;
$input-btn-focus-box-shadow: none;
$font-size-md: 1rem;
$font-size-md-mb: 0.8rem;
$font-size-lg: 1.2rem;
.jumbotron {
    background-color: #4a58ff;
    color: white;
}
.tablebody tr:hover{
    background-color: #e0e0eb;
}
.icon-edit-table:hover{
    cursor: pointer;
    color: #25de8c;
}
.icon-delete-table:hover{
    cursor: pointer;
    color: red;
}
.modal-header{
    font-weight: bolder;
}

.button-accept{
    background-color: #25de8c;
    color: white;
}

.button-delete{
    background-color: red;
    color: white;
}

.table-add:hover{
    color: #25de8c;
    cursor: pointer;
}
.font-weight-800{
    font-weight: 800;
}

.text-sm {
    font-size: .6rem;
    color:red;
}
.text-md {
    font-size: 1rem !important;
}

@media screen and (max-width:1024px){
    .table-user {
        overflow-x: auto;
    }
}
