<!-- Title -->
<div class="jumbotron text-center">
  <h2 class="card-title h3">USER MANAGE</h2>
</div>


<div class="container" style="min-height: 60vh;">
  <!-- Search -->
  <div class="row">
    <div class="col-md-9 mx-auto">
      <div class="md-form">
        <input type="text" class="form-control" (keyup)="doSearch($event);" id="search" mdbInput>
        <label for="search">Search</label>
      </div>
    </div>
  </div>
  <div *ngIf="message" class="row justify-content-center">
    <div class="alert alert-success" role="alert">
      {{message }}
    </div>
  </div>

  <!-- Add Button -->
  <div class="row  float-right">
    <span class="table-add mb-3 mr-2 text-md">
      <button mdbBtn type="button" (click)="addModal.show(); initDefaultErrMsg();" size="sm" color="success" rounded="true" mdbWavesEffect>
        New user &emsp; <mdb-icon fas icon="plus" size="lg"></mdb-icon>
      </button>
    </span>
  </div>

  <!-- Table -->
  <div class="table-responsive z-depth-1 mt-5 mb-5">
    <table mdbTable #tableEl="mdbTable">
      <thead>
        <tr class="table-head " >
          <th class="font-weight-bold text-md" *ngFor="let head of headElements" scope="col">{{head}}
          </th>
        </tr>
      </thead>
      <tbody class="tablebody">
        <tr *ngFor="let user of users | paginate : config " >
          <td>{{user.id}}</td>
          <td>{{user.email}}</td>
          <td>{{user.nickname}}</td>
          <td>{{user.role}}</td>
          <td>
            <mdb-icon fas icon="edit" style="margin-right: 15px"
              (click)="edit(editModal,user.id ,user.email,user.password,user.nickname,user.role,user.id);"
              class="icon-edit-table">
            </mdb-icon>
            <mdb-icon fas icon="trash" (click)="deleteUser(deleteModal,user.id);" class="icon-delete-table"></mdb-icon>
          </td>
        </tr>
      </tbody>
      <tfoot class="grey lighten-5 w-100">
        <tr>
          <td colspan="5" class="text-center">
            <pagination-controls id="list_user" maxSize="5" directionLinks="true" (pageChange)="pageChange($event)">
            </pagination-controls>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<!-- Modal Delete -->
<div mdbModal #deleteModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document"> `
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100  text-center" id="myModalLabel">Delete</h4>
      </div>
      <div class="modal-body">
        Are you sure, you want to delete this user?
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn class="waves-light button-close" aria-label="Close" (click)="deleteModal.hide()"
          mdbWavesEffect>Close</button>
        <button type="button" mdbBtn class="relative waves-light button-delete" (click)="deleteOnServer(deleteModal);"
          mdbWavesEffect>Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Edit-->
<div mdbModal #editModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <form (ngSubmit)="editUser(editModal)" [formGroup]="formEdit">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="editModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100  text-center" id="myModalLabel">Edit</h4>
        </div>

        <div class="modal-body">
          <div class="md-form">
            <input type="hidden" formControlName="id">

            <mdb-icon far icon="envelope-open"></mdb-icon>
            <span class="float-right text-sm" *ngIf="errorEmailMsg">{{errorEmailMsg}}</span>
            <label for="username">Email <span style="color: orangered">*</span></label>
            <input type="text" class="form-control" formControlName="email" id="username-edit" mdbValidate mdbInput>
          </div>
          <div class="md-form">
            <mdb-icon fas icon="lock"></mdb-icon>
            <span class="float-right text-sm" *ngIf="errorPasswordMsg">{{errorPasswordMsg}}</span>
            <label for="fullname">Password <span style="color: orangered">*</span></label>
            <input type="text" class="form-control" formControlName="password" id="password-edit" mdbValidate mdbInput>
          </div>
          <div class="md-form">
            <mdb-icon fas icon="user-circle"></mdb-icon>
            <span class="float-right text-sm" *ngIf="errorNicknameMsg">{{errorNicknameMsg}}</span>
            <label for="fullname">Nickname <span style="color: orangered">*</span></label>
            <input type="text" class="form-control" formControlName="nickname" id="fullname-edit" mdbValidate mdbInput>
          </div>
          <div class="md-form">
            <mdb-icon fas icon="users"></mdb-icon>
            <span class="float-right text-sm" *ngIf="errorRoleMsg">{{errorRoleMsg}}</span>
            <label for="function">Role <span style="color: orangered">*</span></label>
            <input type="text" class="form-control" formControlName="role" id="function-edit" mdbValidate mdbInput>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" mdbBtn class="waves-light button-close" aria-label="Close" (click)="editModal.hide()"
            mdbWavesEffect>Close</button>
          <button type="submit" mdbBtn class="relative waves-light button-accept" mdbWavesEffect>Save changes</button>
        </div>

      </div>
    </div>
  </form>
</div>

<!-- Modal Add-->
<div mdbModal #addModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <form [formGroup]="formAdd">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="addModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100 text-center" id="myModalLabel">Add</h4>
        </div>
        <div class="modal-body">
          
          <div class="md-form form-group">
            <mdb-icon far icon="envelope-open"></mdb-icon>
            <span class="float-right text-sm" *ngIf="errorEmailMsg">{{errorEmailMsg}}</span>
            <label for="username">Email <span style="color:orangered">*</span></label>
            <input type="text" class="form-control" id="username-add" formControlName="email"
               mdbValidate mdbInput>
          </div>
          <div class="md-form form-group">
            <mdb-icon fas icon="lock"></mdb-icon>
            <span class="float-right text-sm" *ngIf="errorPasswordMsg">{{errorPasswordMsg}}</span>
            <label for="fullname">Password <span style="color:orangered">*</span></label>
            <input type="text" class="form-control" formControlName="password" 
              id="password-add" mdbValidate mdbInput>
          </div>
          <div class="md-form form-group">
            <mdb-icon fas icon="user-circle"></mdb-icon>
            <span class="float-right text-sm" *ngIf="errorNicknameMsg">{{errorNicknameMsg}}</span>
            <label for="fullname">Nickname <span style="color:orangered">*</span></label>
            <input type="text" class="form-control" formControlName="nickname" 
              id="fullname-add" mdbValidate mdbInput>
          </div>
          <div class="md-form form-group">
            <mdb-icon fas icon="users"></mdb-icon>
            <span class="float-right text-sm" *ngIf="errorRoleMsg">{{errorRoleMsg}}</span>
            <label for="function">Role <span style="color:orangered">*</span></label>
            <input type="text" class="form-control" formControlName="role" 
              id="function-add" mdbValidate mdbInput>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" mdbBtn class="waves-light button-close" aria-label="Close" (click)="addModal.hide()"
            mdbWavesEffect>Close</button>
          <button type="button" mdbBtn class="relative waves-light button-accept" mdbWavesEffect
            (click)="addUser(addModal)">Add</button>
        </div>
      </div>
    </div>
  </form>
</div>