$bg-color: #f8f8f9;
$color-success: #25de8c;
$top-background: #4a58ff;
$tag-bg: #eff2f7;
$tag-bg-hover: #bdbfc4;
$text-smoke-color: #b7c2cf;
$text-smoke-hover: #e0e0e0;
$text-title-color: #9ba2ae;
$text-content-color: #42505f;
$text-name-size: 1.4rem;
$font-size-lg: 1.2rem;
$font-size-lg-1: 1.1rem;
$font-size-lg-2: 0.9rem;
$font-size-md: 0.8rem;
$font-size-sm-1: 0.7rem;
$font-size-sm: 0.6rem;
.top-wraper {
  min-height: 250px;
  width: 100%;
  background: $top-background;

  .bg-left {
    box-sizing: content-box;
    width: 212px;
    height: 200px;
    position: absolute;
    top: 8vh;
    left: 0%;
    background: url(../../assets/image/left-blob.svg) no-repeat;
    object-fit: cover;
    background-size: cover;
    z-index: 0;
  }
  .bg-right {
    width: 221.18px;
    height: 191.48px;
    object-fit: cover;
    background: url(../../assets/image/blob.svg) no-repeat;
    position: absolute;
    top: 8vh;
    right: 30px;
    z-index: 0;
  }
}
.no-break-line{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.center-update {
 
}
.padding-left-60 {
  padding-left: 60px !important;
}
.margin-left-0 {
  margin-left: 50px !important;
}
.margin-top-150 {
  margin-top: -150px !important;
}
.margin-top {
  margin-top: 80px !important;
}
.interviewee-details {
  background: $bg-color;
  width: 100%;
  .card-top {
    position: absolute;
    top: 0;
    width: 100%;
    height: 250px;
    background: url("https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg") center no-repeat;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 100%);
  }
  .strike {
    display: block;
    overflow: hidden;
    white-space: nowrap;
  }

  .strike > span {
    position: relative;
    display: inline-block;
    font-size: 13px;
    font-weight: bolder;
    color: #6c7a89;
  }

  .strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 200px;
    height: 1px;
    background: #6c7a89;
  }

  .strike > span:after {
    left: 100%;
    margin-left: 15px;
  }

  .strike-700 {
    display: block;
    overflow: hidden;
    white-space: nowrap;
  }

  .strike-700 > span {
    position: relative;
    display: inline-block;
    font-size: 13px;
    font-weight: bolder;
    color: #6c7a89;
  }

  .strike-700 > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 650px;
    height: 1px;
    background: #6c7a89;
  }

  .strike-700 > span:after {
    left: 100%;
    margin-left: 15px;
  }
  .avatar {
    width: 200px;
    height: 310px;
    display: block;
    position: relative;
    margin: 106px 0px 0px 92px;
    img {
      width: 300px;
      height: 150px;
      object-fit: cover;
      // overflow: auto;
    }
  }

  .margin-top-20 {
    margin-top: 20px !important;
  }
  .margin-top-63 {
    margin-top: 63px !important;
  }

  .border-radius-5 {
    border-radius: 5px;
  }
  .select-tag-style {
    width: 90% !important;
    height: 40px;
    border-radius: 5px;
    border: solid #ced4da 0.5px;
    padding-left: 10px;
    color: #495057;
  }
  .select-tag-style:hover {
    cursor: pointer;
  }
  .status-badge {
    position: absolute;
    top: 0;
    right: 4px;
    font-size: $font-size-md;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.2em;
  }
  .textarea {
    width: 91.5%;
    border: solid #ced4da 0.5px;
    height: 157px;
    padding-left: 20px;
    border-radius: 5px;
  }
  .card-heading {
    position: relative;
    width: 100%;
    height: 100%;
    margin: -250px 0px 0px 0px;
    padding: 0px 50px 0px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .heading-option {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      margin: 0px !important;
      .text-name {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: $text-name-size;
      }

      .tag-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .tag {
          background-color: $tag-bg;
          width: auto;
          height: 25px;
          cursor: pointer;
          padding-top: 5px;
          display: flex;
          justify-content: center;
          position: relative;
          transition: 0.5s;
        }
        .tag span {
          text-transform: uppercase;
          color: $text-smoke-color;
          font-size: $font-size-sm;
          margin: 0px 10px 0px 10px;
          z-index: 1;
        }
        .tag::before {
          content: "";
          width: 100%;
          height: 50%;
          background: $tag-bg-hover;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          transform-origin: right;
          transform: scaleX(0);
          transition: transform 0.5s;
          z-index: 0;
        }

        .tag::after {
          content: "";
          width: 100%;
          height: 50%;
          background: $tag-bg-hover;
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          transform-origin: left;
          transform: scaleX(0);
          transition: transform 0.5s;
          z-index: 0;
        }
        .tag:hover span {
          color: #ffffff;
        }
        .tag:hover::before {
          transform-origin: left;
          transform: scaleX(1);
          transition: transform 0.5s;
        }
        .tag:hover::after {
          transform-origin: right;
          transform: scaleX(1);
          transition: transform 0.5s;
        }
      }
    }
  }
}
.custom-file {
  position: absolute;
  width: 70%;
  left: 40px;
  top: 0;
  margin-top: -10px;
  input {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.text-heading {
  text-transform: uppercase;
  position: relative;
}

.text-heading::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: lightgray;
}
.noti h6::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: lightgray;
}
.public-links {
  list-style: none;
}
.btn-edit {
  width: 30%;
}

.techniques {
  position: relative;
  .techniques-name {
    font-weight: 600;
    font-size: $font-size-md;
  }
  .level-attach {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .level-rate {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $font-size-sm-1;
      .level {
        width: 20px;
        height: 7px;
        margin: 4px;
        background: $tag-bg;
        border-radius: 3px;
      }
      .level.checked {
        background: $color-success;
      }
      // .level:hover {
      //   background: $color-success;
      // }
    }
  }
}
.card-heading {
  position: relative;
  width: 100%;
  height: 100%;
  margin: -100px 0px 0px 0px;
  padding: 0px 50px 0px 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .heading-option {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 0px !important;
    .text-name {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: $text-name-size;
    }

    .tag-container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .tag {
        background-color: $tag-bg;
        width: auto;
        height: 25px;
        cursor: pointer;
        padding-top: 5px;
        display: flex;
        justify-content: center;
        position: relative;
        transition: 0.5s;
      }
      .tag span {
        text-transform: uppercase;
        color: $text-smoke-color;
        font-size: $font-size-sm;
        margin: 0px 10px 0px 10px;
        z-index: 1;
      }
      .tag::before {
        content: "";
        width: 100%;
        height: 50%;
        background: $tag-bg-hover;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 0.5s;
        z-index: 0;
      }

      .tag::after {
        content: "";
        width: 100%;
        height: 50%;
        background: $tag-bg-hover;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        transform-origin: left;
        transform: scaleX(0);
        transition: transform 0.5s;
        z-index: 0;
      }
      .tag:hover span {
        color: #ffffff;
      }
      .tag:hover::before {
        transform-origin: left;
        transform: scaleX(1);
        transition: transform 0.5s;
      }
      .tag:hover::after {
        transform-origin: right;
        transform: scaleX(1);
        transition: transform 0.5s;
      }
    }
  }
}

.text-heading {
  text-transform: uppercase;
  position: relative;
}

.text-heading::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: lightgray;
}
.noti h6::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: lightgray;
}
.public-links {
  list-style: none;
}
.btn-edit {
  width: 30%;
}


.techniques {
  position: relative;
  .techniques-name {
    font-weight: 600;
    font-size: $font-size-md;
  }
  .level-attach {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .level-rate {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $font-size-sm-1;
      .level {
        width: 20px;
        height: 7px;
        margin: 4px;
        background: $tag-bg;
        border-radius: 3px;
      }
      .level.checked {
        background: $color-success;
      }
    }
  }
}
.date-label {
  width: 170px !important;
  height: 32px;
  cursor: pointer;
  padding: 4px;
  /deep/ input[type="text"] {
    width: 165px !important;
    outline: none;
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
  }
}

.contact {
  font-size: $font-size-md;
}

@media screen and (max-width: 1024px) {
  .avatar {
    width: 100px;
    height: 100px;
    display: block;
    position: relative;
    margin: 70px 0px 0px 68px !important;
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
  }
  .interviewee-details {
    width: 100%;
  }
  .center-update {
    width: 100% !important;
  }
  .bg-left {
    display: none;
  }
  .bg-right {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .interviewee-details {
    width: 100%;
  }
  .center-update {
    width: 100% !important;
  }
  .descript {
    margin: 0;
    padding: 0px 0px 5px 30px !important;
  }
  .avatar {
    width: 200px;
  }
  .noti {
    margin: 0px;
  }
}
@media screen and (max-width: 650px) {
  .interviewee-details {
    .avatar {
      width: 100px;
      height: 100px;
      display: block;
      position: relative;
      margin: 150px 0px 0px 40px;
      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
      }
    }
    .status-badge {
      top: -268px;
    }

    .center-update {
      width: 100% !important;
    }
    .card-heading {
      margin: -50px 0px 0px 0px;
      padding: 0px;
      .heading-option {
        .text-name {
          font-size: $font-size-lg-1 !important;
        }

        .tag-container {
          .tag {
            height: 23px;
            cursor: pointer;
            padding-top: 3px;
          }
          .tag span {
            font-size: $font-size-sm-1;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .center-update {
    width: 100% !important;
  }
  .avatar {
    width: 200px !important;
    height: 200px !important;
    display: block;
    position: relative;
    margin: 74px 0px -8px 58px !important ;
    img {
      width: 100px !important;
      height: 100px !important;
      object-fit: cover;
    }
  }
  .card-heading {
    margin: -40px 0px 0px 0px !important;
    padding: 0px;
    .heading-option {
      .text-name {
        font-size: $font-size-md !important;
      }

      .tag-container {
        .tag {
          height: 23px;
          cursor: pointer;
          padding-top: 3px;
        }
        .tag span {
          font-size: $font-size-sm;
        }
      }
    }
  }
}

.button4 {
  border-radius: 5px;
}
.button1 {
  height: 40px;
  width: 20%;
}
#title {
  font: bold 48pt "Trebuchet MS";
  text-align: center;
  color: #f95;
  letter-spacing: -2px;
}
#title span {
  font-weight: normal;
  color: #bbb;
}

#tags {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px #ccc inset;
  padding: 10px;
  width: 50%;
  background: #fafafa;
  margin: auto;
}

#tag-typer {
  outline: none;
  border: none;
  padding: 6px;
  margin: 3px;
  margin-right: -25px;
  width: 100px;
  background-color: transparent;
  font-size: 14px;
  color: #333;
}

.tag {
  display: inline-block;
  background: #f95;
  color: #fff;
  padding: 5px 10px;
  margin: 2px 2px 2px 20px;
  font: normal 16px sans-serif;
  position: relative;
  cursor: default;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform-origin: 0% 50%;
  -webkit-animation: swing 1s;
  -o-animation: swing 1s;
  animation: swing 1s;
}

.tag:before {
  content: "";
  position: absolute;
  width: 0;
  background: inherit;
  height: 10px;
  border: 10px solid #fafafa;
  border-right-color: transparent;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
  left: -20px;
  top: 0;
}

.tag:after {
  content: "";
  width: 6px;
  height: 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  position: absolute;
  left: -3px;
  top: 12px;
  box-shadow: inset 1px 1px 0 #ccc;
}

.tag .close {
  position: absolute;
  background: inherit;
  left: -4px;
  z-index: 3;
  visibility: hidden;
}

.tag:hover .close {
  visibility: visible;
}

.close:hover {
  color: rgba(0, 0, 0, 0.5);
}

.colors {
  list-style: none;
}
.colors li {
  display: inline-block;
  width: 15px;
  height: 15px;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(100deg);
  }
  25% {
    -webkit-transform: rotate(-25deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes swing {
  0% {
    -webkit-transform: rotate(-200);
  }
  25% {
    -webkit-transform: rotate(-70);
  }
  50% {
    -webkit-transform: rotate(-185);
  }
  100% {
    -webkit-transform: rotate(-180);
  }
}
