<div class="top-wraper">
  <div class="bg-left"></div>
  <div class="bg-right"></div>
</div>
<div class="container-fluid w-100 center-update">


  <!--Grid row-->
  <div class="row " style="margin-top: -150px;">

    <!--Grid column-->
    <div class="col-lg-12 col-xl-10 mx-auto">
      <form [formGroup]="formUpdateInterview" (ngSubmit)="onSubmit()">
        <mdb-card class="interviewee-details" style="margin-bottom: 100px !important;">

          <div class="row">
            <div class="col-md-5 col-xs-12">
              <!-- Avatar-image -->
              <div class="avatar">
                <app-image-upload></app-image-upload>
              </div>
              <!-- Avatar-image -->
            </div>
            <div class="col-md-7 col-xs-12 pl-5">
              <div class="row">
                <!-- badge-status-interviewee -->
                <mdb-badge class="m-2 p-2 status-badge" color="success-color" mdbWavesEffect>
                  <!-- Material inline 1 -->
                  <div class="custom-control custom-radio custom-control-inline ">
                    <input mdbValidate type="radio" class=" custom-control-input" name="status" id="PASSED" formControlName="status"
                      value="PASSED" mdbInput> 
                    <label class="custom-control-label" for="PASSED">Passed</label>
                    <div *ngFor="let validation of account_validation_messages.fullname"></div>
                  </div>
                  <!-- Material inline 2 -->
                  <div class="custom-control custom-radio custom-control-inline">
                    <input mdbValidate type="radio" class="custom-control-input" name="status" id="FAILED" formControlName="status"
                      value="FAILED" mdbInput>
                    <label class="custom-control-label" for="FAILED">Failed</label>
                  </div>
                  <!-- Material inline 3 -->
                  <div class="custom-control custom-radio custom-control-inline">
                    <input mdbValidate type="radio" class=" custom-control-input" name="status" id="WAITING" formControlName="status"
                      value="WAITING" mdbInput>
                    <label class="custom-control-label" for="WAITING">Waiting</label>
                  </div>
                  <!-- Material inline 3 -->
                  <div class="custom-control custom-radio custom-control-inline">
                    <input mdbValidate type="radio" class="custom-control-input" name="status" id="INCOMING" formControlName="status"
                      value="INCOMING" mdbInput>
                    <label class="custom-control-label" for="INCOMING">Incoming</label>
                  </div>
                  <span style="color:orangered; font-size: 1.2rem">*</span>
                </mdb-badge>
                <!-- badge-status-interviewee -->
              </div>
              <div class="row margin-top-63">
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                  <div class="strike-700">
                    <span>Interview Information</span>
                  </div>
                </div>
              </div>

              <div class="row margin-top-20 md-form">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 pt-2">
                 <span class="no-break-line"> Fullname</span>
                  <span style="color:orangered; font-size: 1.2rem">*</span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12 pl-0">
                  <input mdbValidate mdbInput type="text" class="form-control" class="ml-3 mt-1" id="fullname"
                    formControlName="fullname" style="width: 85%;">
                  <!-- <label for="fullname" class="">Fullname</label> -->
                  <div *ngFor="let validation of account_validation_messages.fullname">
                    <mdb-error class="ml-5"
                      *ngIf="formUpdateInterview.get('fullname').hasError(validation.type) && (formUpdateInterview.get('fullname').dirty || formUpdateInterview.get('email').touched)">
                      {{validation.message}}
                    </mdb-error>
                  </div>
                </div>
              </div>

              <div class="row margin-top-20">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 pt-2">
                  <span class="no-break-line">Birthday</span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                  <label class="date-label z-depth-1">
                    <input type="text" mwlFlatpickr [altInput]="true" id="birthday" formControlName="birthday"
                      dateFormat="Y-m-dTH:i" placeholder="M - D - Y">
                  </label>
                </div>
              </div>
              <div class="row margin-top-20">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 pt-2">
                  Gender
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                  <div class="radio mt-1 p-0 row justify-content-start align-items-center">
                     <!-- Material inline 3 -->
                    <div class="custom-control custom-radio custom-control-inline">
                      <input mdbValidate type="radio" class="custom-control-input" name="gender" id="male" formControlName="gender"
                        value="male" mdbInput>
                      <label class="custom-control-label" for="male">male</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input mdbValidate type="radio" class="custom-control-input" name="gender" id="female" formControlName="gender"
                          value="female" mdbInput>
                        <label class="custom-control-label" for="female">female</label>
                      </div>
                    <!-- <label for="female" >
                      <span>Female</span>
                      <input id="female" value="female" type="radio" formControlName="gender">
                    </label>
                    <label for="male" >
                      <span>Male</span>
                      <input id="male" value="male" type="radio" formControlName="gender">
                    </label> -->
                  </div>
                </div>
              </div>

              <div class="row margin-top-20 ">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pt-3">
                  <span class="no-break-line">Attach CV</span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 pt-2">
                  <div className="input-group">
                    <div className="custom-file">
                      <input mdbValidate type="file" className="custom-file-input" class="btn-file"  id="inputGroupFile01"
                        formControlName="attachCV" aria-describedby="inputGroupFileAddon01" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="row mt-5 pl-5">

            <div class="col-md-5">
              <div class="row">
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 pl-3">
                  <div class="strike-700">
                    <span>Interview Contact</span>
                  </div>
                </div>
              </div>

              <div class="row margin-top-20 md-form">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pt-2">
                  Address
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pl-0">
                  <input mdbInput type="text" class="form-control" id="Address" placeholder="223 Huynh Thuc Khang"
                    style="width: 90%;">
                </div>
              </div>

              <div class="row margin-top-20 md-form">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pt-2">
                  <span class="no-break-line">Phonenumber:</span>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pl-0">
                  <input mdbInput type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber"
                    style="width: 90%;">
                </div>
              </div>
              <div class="row margin-top-20 md-form">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pt-2">
                  Email
                  <span style="color:orangered; font-size: 1.2rem">*</span>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 pl-0">
                  <input mdbValidate mdbInput type="text" class="form-control" id="email" formControlName="email"
                    style="width: 90%;">
                  <div *ngFor="let validation of account_validation_messages.email">
                    <mdb-error class="ml-5"
                      *ngIf="formUpdateInterview.get('email').hasError(validation.type) && (formUpdateInterview.get('email').dirty || formUpdateInterview.get('email').touched)">
                      {{validation.message}}
                    </mdb-error>
                  </div>

                </div>
              </div>
            </div>

            <div class="col-md-7">
              <div class="row">
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                  <div class="strike-700">
                    <span>Techniques</span>
                  </div>
                </div>
              </div>
              <div class="row margin-top-20">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  Add skill:
                  <app-tags-input></app-tags-input>
                </div>

              </div>

            </div>
          </div>

          <div class="row mt-5 pl-5">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                  <div class="strike-700">
                    <span>Schedule</span>
                  </div>
                </div>
              </div>

              <div class="row margin-top-20">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 pt-2">
                  <span class="no-break-line">Date:</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pl-0">
                  <label class="date-label  z-depth-1">
                    <input type="text" mwlFlatpickr [altInput]="true" formControlName="date_schedule"
                      dateFormat="Y-m-dTH:i" placeholder="M - D - Y">
                  </label>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 pt-2">
                  <span class="no-break-line">Time:</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pl-0 ">
                  <label class="date-label  z-depth-1">
                    <input type="text" mwlFlatpickr formControlName="time_schedule" [noCalendar]="true"
                      [enableTime]="true" [dateFormat]="'H:i'" placeholder="H : m">
                  </label>
                </div>
              </div>

              <div class="row margin-top-20 md-form">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pt-2">
                  Room
                  <span style="color:orangered; font-size: 1.2rem">*</span>
                </div>

                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pl-0">
                  <input mdbValidate mdbInput type="text" class="form-control" style="width: 90%;" id="room"
                    formControlName="room" form>
                  <div *ngFor="let validation of account_validation_messages.room">
                    <mdb-error class="ml-5"
                      *ngIf="formUpdateInterview.get('room').hasError(validation.type) && (formUpdateInterview.get('room').dirty || formUpdateInterview.get('room').touched)">
                      {{validation.message}}
                    </mdb-error>
                  </div>


                </div>
              </div>

              <div class="row margin-top-20">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pt-2">
                  Apply position:
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pl-0">
                  <select class="custom-select browser-default" formControlName="position" style="width: 90%;">
                    <option value="null" disabled>Choose Position</option>
                    <option *ngFor="let pos of postions" [value]="pos">{{pos}}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-md-7">
              <div class="row">
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                  <div class="strike-700">
                    <span>Note</span>
                  </div>
                </div>
              </div>
              <div class="row margin-top-20">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <textarea class="textarea" placeholder="Some note..." formControlName="note"></textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="row pl-5 pr-5 mt-3">
            <div class="col-md-12">
              <hr>
            </div>
          </div>

          <div class="row text-center mb-3">
            <div class="col-md-12">
              <div class="row justify-content-center">
                <button mdbBtn [disabled]="!formUpdateInterview.valid" type="submit" class="button1 button4"
                  color="success" size="sm" rounded="true" data-toggle="modal" data-target="#basicExample"
                  (click)="saveInterviewee(formUpdateInterview,saveModal)" mdbWavesEffect>
                  <mdb-icon size="lg fa-2x" far icon="save"></mdb-icon>
                </button>

                <button type="button" mdbBtn type="button" class="button1 button4" color="danger" size="sm"
                  rounded="true" data-toggle="thu2" data-target="#basicExample" (click)="deleteInterviewee(deleteModal)"
                  mdbWavesEffect>
                  <mdb-icon size="lg fa-2x" fas icon="ban"></mdb-icon>
                </button>

                <div mdbModal #saveModal="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
                  aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-notify modal-success" role="document">
                    <!--Content-->
                    <div class="modal-content">
                      <!--Header-->
                      <div class="modal-header">
                        <p class="heading lead">Save complete</p>
                      </div>

                      <!--Body-->
                      <div class="modal-body">
                        <div class="text-center">
                          <i class="fas fa-check fa-4x mb-3 animated rotateIn"></i>

                        </div>
                      </div>

                      <!--Footer-->
                      <div class="modal-footer justify-content-center">

                        <a type="button" mdbBtn color="success" class="waves-effect button4" mdbWavesEffect
                          (click)="saveModal.hide()" data-dismiss="modal">SAVE</a>
                      </div>
                    </div>
                    <!--/.Content-->
                  </div>
                </div>
                <!-- nope -->
                <div mdbModal #deleteModal="mdbModal" class="modal fade" id="thu2" tabindex="-1" role="dialog"
                  aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-notify modal-danger" role="document">
                    <!--Content-->
                    <div class="modal-content">
                      <!--Header-->
                      <div class="modal-header">
                        <p class="heading lead">Do you want delete?</p>
                      </div>

                      <!--Body-->
                      <div class="modal-body">
                        <div class="text-center">
                          <i class="fas fa-times fa-4x mb-3 animated rotateIn"></i>

                        </div>
                      </div>

                      <!--Footer-->
                      <div class="modal-footer justify-content-center">

                        <a type="button" mdbBtn color="danger" class="waves-effect button4" mdbWavesEffect
                          (click)="deleteModal.hide()" data-dismiss="modal">Yes</a>
                        <a type="button" mdbBtn color="danger" class="waves-effect button4" mdbWavesEffect
                          (click)="deleteModal.hide()" data-dismiss="modal">No</a>
                      </div>
                    </div>
                    <!--/.Content-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mdb-card>
      </form>
    </div>
  </div>
</div>