.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: url('https://authentication.axonactive.vn.local/auth/resources/4.0.0.final/login/keycloak/img/keycloak-bg.png') center no-repeat;
    background-size: cover;
   
}

