<div class="login-container">

  <div class="col-xs-6 col-md-6 col-lg-6 col-xl-4  m-auto">
    <!-- Material form login -->

    <img width="90%"
      src="https://authentication.axonactive.vn.local/auth/resources/4.0.0.final/login/keycloak/img/keycloak-logo-text.png"
      alt="">

    <mdb-card>

      <mdb-card-header class="info-color white-text text-center py-4">
        <h5>
          <strong>Sign in</strong>
        </h5>
      </mdb-card-header>


      <!--Card content-->
      <mdb-card-body class="px-lg-5 pt-0 text-center">

        <!-- Form -->
        <form class="text-center" style="color: #757575;" (ngSubmit)="checkLogin(frame)" [formGroup]="loginForm">

          <!-- Username -->
          <div style="margin-top: 2.5rem" class="md-form">
            <input [ngStyle]="{ 'background-color': rememberme ? '#f9f4e6e0' : '' }" mdbInput mdbValidate type="text" id="materialLoginFormUsername" formControlName="username"
              name="username" class="form-control">
            <label for="materialLoginFormUsername">Username</label>
            <div *ngFor="let validation of account_validation_messages.username">
              <mdb-error
                *ngIf="loginForm.get('username').hasError(validation.type) && (loginForm.get('username').dirty || loginForm.get('username').touched)">
                {{validation.message}}
              </mdb-error>
            </div>
          </div>

          <!-- Password -->
          <div style="margin-bottom: 3.5rem" class="md-form">
            <input [ngStyle]="{ 'background-color': rememberme ? '#f9f4e6e0' : '' }" mdbValidate type="password" id="materialLoginFormPassword" formControlName="password" name="password"
              class="form-control" mdbInput>
            <label for="materialLoginFormPassword">Password</label>
            <div *ngFor="let validation of account_validation_messages.password">
              <mdb-error
                *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                {{validation.message}}
              </mdb-error>
            </div>
          </div>
          <div class="d-flex justify-content-around">
            <div>
              <!-- Remember me -->
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="materialLoginFormRemember">
                <label class="form-check-label" for="materialLoginFormRemember">Remember me</label>
              </div>
            </div>
            <div>
              <!-- Forgot password -->
              <a href="">Forgot password?</a>
            </div>
          </div>
          <!-- Sign in button -->
          <button color="light-blue" mdbWavesEffect [disabled]="!loginForm.valid"
            class="btn btn-outline-info  my-4 waves-effect z-depth-0 w-50 mx-auto" type="submit">Sign
            in</button>

          <!-- Register -->
          <p>Not a member?
            <a href="">Register</a>
          </p>

        </form>
        <!-- Form -->

      </mdb-card-body>

    </mdb-card>
    <!-- Material form login -->
  </div>
</div>
<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p style="margin: 0 auto;" class="heading lead">ERROR LOGIN</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <i class="far fa-times-circle fa-2x mb-0 animated rotateIn"></i>

          <p>Wrong username or password.</p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="danger" outline="true" class="waves-effect" mdbWavesEffect
          (click)="frame.hide()">Ok</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>