$background : #F8F8F9;
$success-btn : #25DE8C ;
$primary-btn : #17AAFF;
$top-bottom : #553DFF;
$back-ground-bottom : #553DFF;
$hight-light-btn : #5458FD;
.avatar {
    max-width: 100px;
    max-height: 100px;
}
.container-fluid{
    font-family:'Roboto','Helvetica','Arial',sans-serif;
}
.name{
    font-weight: 420;
    font-size: 20px;
}
.name_it{
    padding: 5px 5px 5px 5px;
    background-color: #f3f3f3;
    font-size: 14px;
    color: #827b7bf7;
}
.iconlock{
    color: #827b7bf7;
    font-size: 14px;
}
.name_time{
    color: #827b7bf7;
    font-size: 13px
}
.check{
    opacity: 1;
}

