<div class="container-fluid">
  <!-- <div class="d-flex justify-content-center h-100">
    <div class="searchbar">
      <input class="search_input" type="text" name="" placeholder="Search...">
      <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
    </div>
  </div> -->
  <div class="container">
    <div class="row">
      <div class="col-md-4">

      </div>
      <div class="col-md-7">
        
      </div>
        <div class="col-md-1">
            <button style="border-radius: 100px;" mdbBtn type="button" color="success" rounded="true" outline="true"
              mdbWavesEffect>
              <mdb-icon fas icon="plus"></mdb-icon>
            </button>
          </div>
    </div>
    <div class="row">
      <div class="col-md-4">
          <label>Join Developer</label>
          <mdb-checkbox (click)="kt()" [value]="t">{{t}}</mdb-checkbox>
          <mdb-checkbox>Junior Developer</mdb-checkbox>
          <mdb-checkbox>Fresher Developer</mdb-checkbox>
          <mdb-checkbox>Senior Developer</mdb-checkbox>
          <label>Join Developer</label>
          <mdb-checkbox>Intern Developer</mdb-checkbox>
          <mdb-checkbox>Junior Developer</mdb-checkbox>
          <mdb-checkbox>Fresher Developer</mdb-checkbox>
          <mdb-checkbox>Senior Developer</mdb-checkbox>
          <label>Join Developer</label>
          <mdb-checkbox>Intern Developer</mdb-checkbox>
          <mdb-checkbox>Junior Developer</mdb-checkbox>
          <mdb-checkbox>Fresher Developer</mdb-checkbox>
          <mdb-checkbox>Senior Developer</mdb-checkbox>
          
      </div>
      <div class="col-md-8">
        <div class="card shadow cardname">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3 col-ms-6">
                <div class="avatar white "><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg"
                    alt="avatar white" class="rounded-circle img-fluid">
                </div>
              </div>
              <div class="col-md-6 col-ms-3">
                <label class="name" for="">Phan Tấn Tĩnh</label><br>
                <label class="name_it" for="">Intern Developer</label>
                <br>
                <mdb-icon class="iconlock" far icon="clock"></mdb-icon>&nbsp;
                <label class="name_time">17-08-2019</label>&nbsp;
                <mdb-icon class="iconlock" fas icon="house-damage"></mdb-icon>&nbsp;
                <label class="name_time">meeting room 7</label>
              </div>
              <div class="col-md-3 col-ms-3">
                <button class="check" disabled mdbBtn type="button" color="success" mdbWavesEffect>PASS</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div mdbDraggable class="card">
          <h5 class="card-header success-color white-text">Lựa chọn theo tháng</h5>
          <div class="card-body">
            <select class="browser-default custom-select custom-select-lg ms-3 ">
              <option selected>All</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <hr>
        <div mdbDraggable class="card">
          <h5 class="card-header success-color white-text">Join Developer</h5>
          <div class="card-body">
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" id="Interncheckbox" name="defaultExampleRadios" mdbInput>
              <label class="custom-control-label" for="Interncheckbox">Intern Developer</label>
            </div>
            <hr>
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" id="Juniorcheckbox" name="defaultExampleRadios" mdbInput>
              <label class="custom-control-label" for="Juniorcheckbox">Junior Developer</label>
            </div>
            <hr>
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" id="Freshercheckbox" name="defaultExampleRadios"
                mdbInput>
              <label class="custom-control-label" for="Freshercheckbox">Fresher Developer</label>
            </div>
            <hr>
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" id="Seniorcheckbox" name="defaultExampleRadios" mdbInput>
              <label class="custom-control-label" for="Seniorcheckbox">Senior Developer</label>
            </div>
          </div>
        </div> -->
    </div>
  </div>
</div>