.image-container {
  position: relative;
  display: inline-block;
  text-align: center;
}

#myImage {
  width: 365px;
  height: 322px;

  object-fit: cover;
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin-top: -40px;
  .avatar-edit {
    position: absolute;
    left: 340px;
    z-index: 1;
    bottom: -2px;
    input {
      display: none;
      + label {
        display: inline-block;
        width: 36px;
        height: 36px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #ffffff;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 1);
        cursor: pointer;
        font-weight: normal;
        transition: all 0.2s ease-in-out;
        &:hover {
          background: #f1f1f1;
          border-color: #d6d6d6;
        }
        &:after {
          content: "";
        }
      }
    }
  }
}
.imagePreview{
  width: 192px;
        height: 192px;
        position: relative;
        border-radius: 100%;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 1);
        > div {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
}

@media screen and (max-width: 1024px) {
  .avatar-edit {
    position: absolute;
    left: 240px !important;
    z-index: 1;
    bottom: -2px !important;
    margin-left: -40px;

    input {
      display: none;
      + label {
        display: inline-block;
        width: 36px;
        height: 36px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #ffffff;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 1);
        cursor: pointer;
        font-weight: normal;
        transition: all 0.2s ease-in-out;
        &:hover {
          background: #f1f1f1;
          border-color: #d6d6d6;
        }
        &:after {
          content: "";
        }
      }
    }
  }
  .avatar-upload {
    margin-top: -5px;
  }
  .avatar-edit {
    right: 50px !important;
  }
  #myImage {
    width: 234px !important;
    height: 250px !important;
  }
}
@media screen and (max-width: 768px) {
  .avatar-upload {
    margin-top: -10px;

  }
}

@media screen and (max-width: 480px) {
  .avatar-upload {
    margin-top: 10px;
    .avatar-edit {
      position: absolute;
      left: 251px !important;
      input {
        + label {
          width: 24px;
          height: 24px;
          background: #f1f1f1;
          border-color: #d6d6d6;
        }
      }
    }
  }
  #myImage {
    width: 230px !important;
    height: 230px !important;
  }
}
