<div class="avatar-upload">
  <div class="avatar-edit">
    <input #imageInput type="file" id="imageUpload" accept="image/*" (change)="readURL($event);">
    <label for="imageUpload" class="d-flex justify-content-center align-items-center">
      <mdb-icon fas icon="pen" size="sm"></mdb-icon>
    </label>
  </div>
  <div class="avatar-preview">
    <div id="imagePreview">
      <img id="myImage" class="img-responsive" [src]="imageSrc || 'https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg'"
        alt="your image" />
    </div>
  </div>
</div>