<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg z-depth-0 navbar-dark  indigo accent-4" [containerInside]="true">
  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand font-weight-bold" href="#">LOGO</a></mdb-navbar-brand>
  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" [routerLink]="['../dashboard']" mdbWavesEffect>
          <mdb-icon fas icon="home"></mdb-icon>Home<span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link waves-light " [routerLink]="['../dashboard/user']" mdbWavesEffect>
          <mdb-icon fas icon="users"></mdb-icon> User
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="user"></mdb-icon>{{fullname}}</a>
      </li> 
      <li class="nav-item">
        <a (click)="logout()" class="nav-link waves-light" mdbWavesEffect> <mdb-icon fas icon="sign-in-alt"></mdb-icon>Logout</a>
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->

<!-- 
<header>
  <div class="logo-container">
    <h3>LOGO</h3>
  </div>
  <nav>
    <div class="burger" [class.burger-toggle]="navOpen ? true : false"
     (click)="navOpen = !navOpen">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>

    <ul class="nav-links" [class.open]="navOpen ? true : false">
      <li [class.fade]="navOpen ?true : false"><a class="nav-link" (click)="navOpen = !navOpen" [routerLink]="['../dashboard']">Home</a></li>
      <li [class.fade]="navOpen ?true : false"><a class="nav-link" (click)="navOpen = !navOpen" [routerLink]="['../dashboard/user']">User</a></li>
      <li class="nav-link" [class.fade]="navOpen ?true : false">

        <div class="btn-group " mdbDropdown>
          <button mdbDropdownToggle type="button" mdbBtn color="pink" class="dropdown-toggle waves-light btn-dropdown"
            mdbWavesEffect>
            Account
          </button>

          <div class="dropdown-menu dropdown-primary ">
            <a class="dropdown-item" href="#">{{id}}</a>
            <a class="dropdown-item" href="javascript:void(0);" (click)="logout()">Logout</a>
          </div>
        </div>

      </li>
    </ul>

  </nav>

</header> -->