$nav-color: #4250f0;
$search-background: #4a58ff;
$header-color: #d8dcff;
$text-color: #f8f8f9;
header {
  margin: 0;
  padding: 0;
  min-height: 32px;
  max-height: 8vh;
  width: 100%;
  display: flex;
  background: $nav-color;
  justify-content: space-around;
  align-items: center;
  z-index: 999 !important;
}

.logo-container {
  display: flex;
  flex: 1;
  height: 8vh;
  justify-content: center;
  align-items: center;
  color: $text-color;
  font-weight: 900;
}
.logo-container h3 {
  margin: auto;
}
nav {
  display: flex;
  flex: 1;
  height: 8vh;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  z-index: 999 !important;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  list-style: none;
}

.nav-links li .nav-link {
  color: $text-color;
  cursor: pointer;
  font-size: 1.15rem;
}
.nav-links li {
  opacity: 1;
}
.nav-links li .nav-link::before {
  content: "";
  width: 0%;
  height: 3px;
  display: block;
  background: $text-color;
  transition: width 0.5s ease;
}

.nav-links li a:hover::before {
  width: 100%;
}
.dropdown-item {
  color: black;
}
.nav-links li div .btn-dropdown {
  width: 8em;
  height: 32px;
  font-size: 13px;
  padding: 0;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 20px;
  height: 3px;
  margin: 1.5px;
  background: $text-color;
  transition: all 0.5s ease-in-out;
}

.burger .line2 {
  margin-left: 10px;
}

@media screen and (max-width: 1024px){
  .nav-links li div .btn-dropdown {
    height: 30px;
  }
}

@media screen and (max-width: 768px) {
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .nav-links li div .btn-dropdown {
    height: 32px;
  }
  .nav-links {
    position: absolute;
    background: $nav-color;
    top: 8vh;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    justify-content: start;
    align-items: center;
    clip-path: circle(100px at 90% -35%);
    -webkit-clip-path: circle(100px at 90% -35%);
    transition: all 1s ease;
    pointer-events: none;
  }

  .nav-links.open {
    clip-path: circle(1300px at 90% -15%);
    -webkit-clip-path: circle(1300px at 90% -15%);
    pointer-events: all;
  }
  .nav-link {
    margin: 20px auto;
  }

  .nav-links li {
    transition: all 2s ease;
  }
  .nav-links li:nth-child(1) {
    opacity: 0;
  }

  .nav-links li:nth-child(2) {
    opacity: 0;
  }

  .nav-links li:nth-child(3) {
    opacity: 0;
  }

  .nav-links li.fade {
    opacity: 1;
  }

  .burger-toggle .line1 {
    transform: rotate(-45deg) translate(-2.5px, 6px);
  }

  .burger-toggle .line2 {
    opacity: 0;
  }

  .burger-toggle .line3 {
    transform: rotate(45deg) translate(-2.5px, -6px);
  }
}
