.editor-tag {
    cursor: text;
    font-size: 16px;
    padding: 10px 0px 10px 10px;
    border-radius: 5px;
    margin-right: 60px;
    background: white;
    border: 1px #cccccc solid;
  
    & .tag-item {
      line-height: 20px;
      border-radius: 10px;
      padding-left: 8px !important;
      margin-left: 8px;
      height: 20px;
      color: #FFFFFF;
      font-size: 14px;
      display: inline-block;
      background: #00c851;
      padding-left: 5px;
  
      .remove-tag {
        padding-right: 5px;
        cursor: pointer;
      }
    }
  
    & .tag-item:not(:first-child) {
      margin-left: 5px;
    }
  
    & input {
      margin: 0;
      padding-left: 5px;
      border: none;
      outline: none;
      border-radius: 5px;
    }
  }
  @media screen and (max-width:480){

  }