<app-search #search [countInterviewee]="listInterviewee.config.totalItems"
    [countIncoming]="listInterviewee.countIncoming"></app-search>
<div class="container">
    <div class="row interview-list-container" style="min-height: 50vh">
        <div class="col-sm-12 col-md-12 col-lg-9 mx-auto p-0 interviewee-list "
            [class.interviewee-list-active]="search.isFilter ? true : false">
            <app-list-interviewee #listInterviewee></app-list-interviewee>
        </div>
        <!-- Form filter start -->
        <!-- put inside div below *ngIf="listInterviewee.listInterviewee" -->
        <div class="col-sm-12 col-md-12 col-lg-3 w-100 p-0  
        filter-container d-flex justify-content-center align-items-start "
            [class.filter-active]="search.isFilter ? true : false"
            *ngIf="listInterviewee.listInterviewee"
            >
            <div class=" row justify-content-center w-100 " (swipeRight)=" swipe($event.type); search.isFilter=false;">
                <form [formGroup]="formFilter">
                    <div class="form-filter  d-flex flex-column ">

                        <div class="scrollme d-none" (click)="search.isFilter = false ;"></div>
                        <h4 class=" text-center font-weight-bold d-none text-head text-muted mt-4">Advanced search</h4>
                        <div class="filter-wrap season-filter my-3">
                            <h6 class="h6-responsive font-weight-bold pb-3 d-none d-lg-block d-xl-block">Position filter
                            </h6>
                            <div class="checkbox mt-1 p-0" *ngFor="let pos of posArray.controls;let i = index;">
                                <label for="posCheckbox{{i}}"
                                    class="d-flex justify-content-between align-items-center px-2">
                                    <span>{{positionList[i].item_text}}</span>
                                    <input [formControl]="pos" (change)="getSelectedPos()" id="posCheckbox{{i}}"
                                        type="checkbox">
                                </label>
                            </div>
                            <ng-multiselect-dropdown class="multiselect" formControlName="mutilPos"
                                [placeholder]="'Position'" [data]="positionList" [settings]="dropdownSettings"
                                (onDeSelect)="onItemPosDeSelect($event)" (onSelect)="onItemPosSelect($event)">
                            </ng-multiselect-dropdown>
                        </div>
                        <div class="filter-wrap status-filter my-3">
                            <h6 class="h6-responsive font-weight-bold pb-3 	d-none d-lg-block d-xl-block">Status filter
                            </h6>
                            <div class="checkbox mt-1 p-0" *ngFor="let status of statusArray.controls;let i = index;">
                                <label for="statusCheckbox{{i}}"
                                    class="d-flex  justify-content-between align-items-center px-2">
                                    <span>{{statusList[i].item_text}}</span>
                                    <input id="statusCheckbox{{i}}" [formControl]="status"
                                        (change)="getSelectedStatus();" type="checkbox">
                                </label>
                            </div>
                            <ng-multiselect-dropdown class="multiselect" formControlName="mutilStatus"
                                [placeholder]="'Status'" [data]="statusList" [settings]="dropdownSettings"
                                (onDeSelect)="onItemStatusDeSelect($event)" (onSelect)="onItemStatusSelect($event)"
                                (onSelectAll)="onSelectAll($event)">
                            </ng-multiselect-dropdown>
                        </div>
                        <div class="filter-wrap date-filter my-3">
                            <h6 class="h6-responsive font-weight-bold pb-3 d-none d-lg-block d-xl-block">Date filter
                            </h6>
                            <div class="date-picker d-flex justify-content-center align-items-center">
                                <label class="d-flex justify-content-around align-items-center mt-1">
                                    <input class="form-control" formControlName="dateRange" type="text" mwlFlatpickr
                                        mode="range" >
                                    <input type="text" class="w-100"  placeholder="dd/mm/yyyy" formControlName="dateShow">
                                    <mdb-icon far icon="calendar-plus" class="text-primary icon"  size="md">
                                    </mdb-icon>
                                </label>
                                <mdb-icon fas icon="times" class="text-danger mx-1 rm-icon" size="md" *ngIf="dateFrom"
                                        (click)="removeDateValue(); "></mdb-icon>
                            </div>

                        </div>
                        <div class="filter-wrap my-auto d-flex justify-content-center ">
                            <button type="button" mdbBtn (click)="doFilter()" size="sm" class="btn-PC" color="primary"
                                mdbWavesEffect>Filter</button>
                            <button type="button" mdbBtn (click)="doFilterMB()" size="sm" class="btn-MB" color="primary"
                                mdbWavesEffect>Filter</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Form filter end -->
    </div>
</div>
<div class="overlay-top" [ngClass]="{'z-index-negative' : !search.isFilter , 'z-index-positive' : search.isFilter}"
    (click)="search.isFilter = false"></div>
<div class="overlay"></div>
<!-- <div class="radiobtn d-flex align-items-center mt-1">
    <label for="Fail"> <input class="" type="radio" id="Fail" formControlName="type" value="Fail" />Fail</label>
</div> -->