$bg-color: #f8f8f9;
$primary-color: #4a58ff;
$color-success: #25de8c;
$name-color: #2d3c4d;
$tag-bg: #eff2f7;
$tag-bg-hover: #bdbfc4;
$text-smoke-color: #96abb4;
$text-smoke-hover: #e0e0e0;
$icon-color: #c8d1db;
$font-size-sm: 0.8rem;
$font-size-sm-mb: 0.7rem;
$font-size-sm-1: 0.6rem;
$font-size-md: 1rem;
$font-size-md-mb: 0.9rem;
$font-size-lg: 1.1rem;
$lightcolor: #fff;
$darkcolor: #444;
// div[class^="col"],
// div[class*=" col"] {
//   border: 1px dotted black;
// }
.z-index-negative {
  z-index: -100;
}
.z-index-positive {
  z-index: 5;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;
  width: 100%;
  height: 100%;
  display: none;
}
.overlay-top {
  height: 6vh;
  width: 50px;
  background: transparent;
  position: absolute;
  top: 0;
  right: 3%;
}
.interview-list-container {
  padding: 0;
  margin: 5vh 0px 0px 0px;
}
a .form-filter {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 200px;
}
// custome css for mutiselect
:host /deep/ ng-multiselect-dropdown {
  display: none;
  font-size: $font-size-md-mb;
}
:host /deep/ ng-multiselect-dropdown div.multiselect-dropdown {
  height: 42px;
  width: 200px;
  border: none !important;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  color: $text-smoke-color;
  span.dropdown-btn {
    height: 100%;
    padding: 10px 12px !important;
    border: none !important;
    border-bottom: 1px solid $primary-color !important;
    span.dropdown-down {
      border-top: 7px solid $primary-color !important;
      border-left: 7px solid transparent !important;
      border-right: 7px solid transparent !important;
    }
    span.dropdown-up {
      border-bottom: 7px solid $primary-color !important;
      border-left: 7px solid transparent !important;
      border-right: 7px solid transparent !important;
    }
  }
}
ng-multiselect-dropdown div.dropdown-list {
}

// custom date picker

.date-picker {
  position: relative;
  height: 42px;
  width: 210px;
  background: transparent;
  border-radius: 3px;

  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3px;
    border-bottom: 1px solid $primary-color !important;
  }
  &:hover label .icon {
    transform: rotateY(360deg);
    transition: 0.5s ease;
    cursor: pointer;
    
  }
  label {
    height: 42px;
    width: 190px;
    cursor: pointer;
    margin:0 !important;
    /deep/ input {
      cursor: pointer;
      background: $bg-color;
      font-size: $font-size-sm;
      -webkit-appearance: none;
      outline: none;
      border: none !important;
      height: 42px;
      width: 0px;
      padding: 0 !important;
      &::placeholder {
        color: $text-smoke-color;
      }
    }
  }
  .rm-icon {
    cursor: pointer;
  }
}

// custom checkbox
.checkbox {
  position: relative;
  height: 42px;
  width: 210px;
  border: none;
  background: $bg-color;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);

  label {
    width: 210px;
    height: 42px;
    cursor: pointer;
    font-size: $font-size-md-mb;
    input[type="checkbox"] {
      position: relative;
      width: 17px;
      height: 17px;
      -webkit-appearance: none;
      outline: none;
      transition: 0.5s;
      cursor: pointer;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        border: 2px solid #8a8a8a;
        border-radius: 2px;
        box-sizing: border-box;
        transition: 0.5s;
      }
      &:checked:before {
        right: 10px !important;
        border-left: none;
        border-top: none;
        width: 15px;
        border-color: #4285f4;
        transform: rotate(35deg) translate(5px, -10px);
      }
    }
  }
}

.btn-PC {
  display: block;
}

.btn-MB {
  display: none;
}
@media screen and (max-width: 1024px) {
  .interviewee-list {
    margin-top: -30px;
  }
}
@media screen and (max-width: 768px) {
  .interviewee-list {
    margin-top: -100px !important;
    transition: all 0.3s linear;
  }
  .filter-container {
    position: absolute;
    top: 250px;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 95% !important;
    background: $bg-color;
    z-index: -5;
    opacity: 0;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.3s linear;
    &::before {
      content: "";
      width: 15px;
      height: 15px;
      position: absolute;
      background: $bg-color;
      top: -8px;
      right: calc(100% / 200px);
      border: 2px solid $bg-color;
      border-top: none;
      border-left: none;
      transform: rotate(225deg);
    }
  }
  // none checkbox here
  .checkbox {
    display: none !important;
  }
  .btn-MB {
    display: block;
  }

  .btn-PC {
    display: none;
  }

  .form-filter {
    position: relative;
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 0.5fr;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
  }
  :host /deep/ ng-multiselect-dropdown {
    display: block !important;
  }
  :host /deep/ ng-multiselect-dropdown div.multiselect-dropdown {
    height: 32px;
    width: 190px;

    span.dropdown-btn {
      height: 32px;
      padding: 5px 12px !important;
    }
  }
  .date-picker {
    width: 190px;
    height: 32px;
    label {
     /deep/ input {
        font-size: $font-size-sm-mb;
      }
    }
  }
  .interviewee-list-active {
    margin-top: 0px !important;
  }
  .filter-active {
    top: 310px;
    z-index: 99;
    opacity: 1;
  }
}

// break point
@media screen and (max-width: 700px) {
  .filter-container {
    position: fixed;
    width: 100% !important;
    height: 100vh;
    top: 0;
    left: 0;
    transform: none;
    z-index: 99;
    opacity: 1;
    align-items: center !important;
    overflow: auto;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }
  .row {
    height: 100% !important;
  }
  .form-filter {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
    padding-top: 30px;
    width: 100%;
    height: 100% !important;
    .scrollme {
      display: block !important;
      position: absolute;
      top: 0;
      left: 10px;
      &::after {
        animation: pulsea 2s linear infinite;
        font-size: 25pt;
        color: transparent; /*Using only shadows makes the animation easier*/
        font-family: "Font Awesome 5 Free";
        content: "\f105";
        font-weight: 900;
        text-shadow: 0pt 0px 0px $darkcolor, 10pt 0px 0px $darkcolor, 20pt 0px 0px $darkcolor, 30pt 0px 0px $darkcolor;
      }
    }

    .text-head {
      display: block !important;
    }
    .filter-wrap {
      margin: 40px 0px !important;
    }
  }
  :host /deep/ ng-multiselect-dropdown {
    font-size: $font-size-md !important;
  }
  :host /deep/ ng-multiselect-dropdown div.multiselect-dropdown {
    height: 40px;
    width: 270px;

    span.dropdown-btn {
      height: 40px;
      padding: 5px 12px !important;
    }
  }
  .date-picker {
    height: 40px;
    width: 270px;
    label {
      width: 230px;
      input:nth-child(2) {
        width: 240px !important;
        font-size: $font-size-md-mb !important;
      }
    }
  }
  .filter-active {
    transform: translateX(0%);
  }
}
@media screen and (max-width: 480px) {
  .interviewee-list {
    margin-top: -80px !important;
  }
}

// for all landscape
@media screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: landscape) {
  .interviewee-list {
    margin-top: -50px !important;
  }
}

// animation for icon
@keyframes pulsea {
  0%,
  80%,
  100% {
    text-shadow: 0pt 0px 0px rgba(255, 255, 255, 0), 10pt 0px 0px rgba(255, 255, 255, 0),
      20pt 0px 0px rgba(255, 255, 255, 0), 30pt 0px 0px $darkcolor;
  }
  10% {
    text-shadow: 0pt 0px 0px rgba(255, 255, 255, 0.5), 10pt 0px 0px rgba(255, 255, 255, 0),
      20pt 0px 0px rgba(255, 255, 255, 0), 30pt 0px 0px $darkcolor;
  }
  20% {
    text-shadow: 0pt 0px 0px $darkcolor, 10pt 0px 0px rgba(255, 255, 255, 0), 20pt 0px 0px rgba(255, 255, 255, 0),
      30pt 0px 0px $darkcolor;
  }
  30% {
    text-shadow: 0pt 0px 0px rgba(255, 255, 255, 0.5), 10pt 0px 0px rgba(255, 255, 255, 0.5),
      20pt 0px 0px rgba(255, 255, 255, 0), 30pt 0px 0px $darkcolor;
  }
  40% {
    text-shadow: 0pt 0px 0px rgba(255, 255, 255, 0), 10pt 0px 0px $darkcolor, 20pt 0px 0px rgba(255, 255, 255, 0),
      30pt 0px 0px $darkcolor;
  }
  50% {
    text-shadow: 0pt 0px 0px rgba(255, 255, 255, 0), 10pt 0px 0px rgba(255, 255, 255, 0.5),
      20pt 0px 0px rgba(255, 255, 255, 0.5), 30pt 0px 0px $darkcolor;
  }
  60% {
    text-shadow: 0pt 0px 0px rgba(255, 255, 255, 0), 10pt 0px 0px rgba(255, 255, 255, 0), 20pt 0px 0px $darkcolor,
      30pt 0px 0px $darkcolor;
  }
  70% {
    text-shadow: 0pt 0px 0px rgba(255, 255, 255, 0), 10pt 0px 0px rgba(255, 255, 255, 0),
      20pt 0px 0px rgba(255, 255, 255, 0.5);
  }
}
