$search-background: #4a58ff;
$text-color: #f8f8f9;
$count-color: #c7a05e;
$input-btn-focus-box-shadow: none;
$font-size-md: 1rem;
$font-size-md-1: .9rem;
$font-size-md-mb: 0.8rem;
$font-size-lg: 1.2rem;
$font-size-lg-1: 1.1rem;
$font-size-sm : .75rem;
$font-size-sm-1 : .7rem;

.no-break-line {
  overflow: hidden !important;
    white-space: nowrap !important;
}
.search-container {
  margin: 0;
  padding: 5vh 0px 0px 0px;
  background-color: $search-background;
  width: 100%;
  height: 100%;
  color: $text-color;
  
}
.bg-left {
  box-sizing: content-box;
  width: 153.09px;
  height: 161.62px;
  position: absolute;
  top: 12%;
  left: 10%;
  background: url('../../assets/image/bg-left.svg') no-repeat;
  z-index: 0;
}
.bg-right {
  width: 360.65px;
  height: 247.72px;
  object-fit: cover;
  background: url('../../assets/image/bg-right.svg') no-repeat;
  position: absolute;
  top: 100px;
  right: 5%;
  z-index: 0;
}
.search-title {
  font-size: $font-size-lg;
}
.search-box form {
  width: 100%;
  max-height: 10vh;
}
.search-form {
  position: relative;
  width: 40%;
  height: 50px;
  background: $text-color;
  border-radius: 7vh;
  padding: 0.6vh 0px 0px 2vw;
}
.search-box input[type="text"] {
  flex: 3;
  border: none;
  outline: none;
  box-shadow: none !important;
  height: 7vh;
  font-size: $font-size-md;
}
.result-count {
  flex :1 ;
  color : $search-background;
  max-width: 100px;
  font-size: $font-size-md-mb;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.btn-filter {
  display: none !important;
  span {
    letter-spacing:.1em;
  }
}
.btn-addnew {
  overflow: hidden;
  text-align: center;
  width: 90px !important; 
  white-space: nowrap;
  color : $search-background;
  border-radius : 30px !important;
  span {
    letter-spacing:.1em;
  }
}
/* CSS for search place holder*/
.search-box input[type="text"]::-webkit-input-placeholder {
  font-size: $font-size-md;
  font-weight: 450;
  letter-spacing: 0.2em;
  color: #d0cdfa;
}
.search-box input[type="text"]:-moz-placeholder {
  /* older Firefox*/
  font-size: $font-size-md;
  font-weight: 450;
  letter-spacing: 0.1em;
  color: #d0cdfa;
}
.search-box input[type="text"]::-moz-placeholder {
  /* Firefox 19+ */
  font-size: $font-size-md;
  font-weight: 450;
  letter-spacing: 0.2em;
  color: #d0cdfa;
}
.search-box input[type="text"]:-ms-input-placeholder {
  font-size: $font-size-md;
  font-weight: 450;
  letter-spacing: 0.2em;
  color: #d0cdfa;
}
.blockquote {
  font-size: $font-size-md;
}
.bq-title {
  font-size: $font-size-lg;
  line-height: 15px
}

// Result css
.search-result {
  font-size: $font-size-md-1;
  font-weight: 450;
}
@media screen and (max-width:1366px) {
 .bg-right {
   right: 0;
   top:11%;
 }
 .bg-left {
   left: 0;
 }
}

@media screen and (max-width: 1024px) {
  .search-container {
    padding: 0;
    height: 250px;
  }
  .bg-left,
  .bg-right {
    display: none;
  }
  .search-title {
    display: none;
  }
  .search-box {
    margin: -10vh;
  }
  
  // .search-box {
  //   margin-top: -15vh;
  // }
  .search-form {
    width: 50%;
    height: 50px;
    border-radius: 10vh;
    padding: 0.5vh 0px 0px 4vw;
  }
}

@media screen and (max-width: 768px) {
  .search-container {
    padding: 0;
  }
  .search-box {
    margin-top: -15vh;
  }
  .search-form {
    width: 80%;
    height: 45px;
    border-radius: 10vh;
    padding: 4px 0px 0px 5vw;
  }
  .search-box input[type="text"]::-webkit-input-placeholder {
    font-size: $font-size-md-mb;
    font-weight: 450;
  }
  .search-box input[type="text"]:-moz-placeholder {
    /* older Firefox*/
    font-size: $font-size-md-mb;
    font-weight: 450;
  }
  .search-box input[type="text"]::-moz-placeholder {
    /* Firefox 19+ */
    font-size: $font-size-md-mb;
    font-weight: 450;
  }
  .search-box input[type="text"]:-ms-input-placeholder {
    font-size: $font-size-md-mb;
    font-weight: 450;
  }
  .btn-filter {
    display: flex !important;
    text-align: center;
    width: 90px !important; 
    color : $search-background;
    border-radius : 30px !important;
  
  }
  .btn-addnew {
    text-align: center;
    width: 90px !important; 
    color : $search-background;
    border-radius : 30px !important;
  }
}
@media screen and (max-width : 480px) {
  .result-count {
    padding : 0px 0px 2px 0px !important;
  }
}
@media screen and (max-width : 360px ){
  .search-box input[type="text"]::-webkit-input-placeholder {
    font-size: $font-size-sm;
  }
  .search-box input[type="text"]:-moz-placeholder {
    /* older Firefox*/
    font-size: $font-size-sm;
    
  }
  .search-box input[type="text"]::-moz-placeholder {
    /* Firefox 19+ */
    font-size: $font-size-sm;
  }
  .search-box input[type="text"]:-ms-input-placeholder {
    font-size: $font-size-sm;
  }
  .result-count {
    padding-right :10px !important;
    font-size: $font-size-sm-1 !important;
  }
}

/* Landscape */

@media only screen and (min-width: 375px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .search-form {
    width: 70%;
    height: 50px;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .bg-left,
  .bg-right {
    display: block;
  }
}
