<div class="top-wraper">
  <div class="bg-left"></div>
  <div class="bg-right"></div>
</div>
<div class="container-fluid w-80">

  <!--Grid row-->
  <ng-container>
    <div class="row mb-5 mt-150-negative  justify-content-center">
      <!--Grid column-->
      <div class="col-lg-12 col-xl-10 mx-auto " *ngIf="itv;else loading ">
        <mdb-card class="interviewee-details">
          <!--image top session-->
          <div class="card-top"></div>

          <div class="avatar view rgba-white-slight waves-light" mdbWavesEffect>
            <!-- Card img -->
            <img [src]="itv.avatar?.includes('https://') ? itv.avatar : defaultAva"
              class="rounded-circle img-thumbnail">
            <a>
              <div class="mask"></div>
            </a>
          </div>
          <mdb-badge class="m-2 p-2 status-badge"
            [color]="itv.status === 'WAITING' ? 'warning-color' : itv.status === 'PASSED' ? 'success-color' : itv.status === 'FAILED' ? 'danger-color' : 'info-color'"
            mdbWavesEffect>{{itv.status}}</mdb-badge>
          <!-- heading card -->
          <mdb-card-body class="card-heading d-flex justify-content-end">
            <mdb-card-title class="heading-option">
              <div class="col-12"> <span class="text-name font-weight-bold">{{itv.fullname}}</span></div>
              <div class="col-12 d-flex justify-content-start tag-container">
                <div class="tag mr-3 d-flex justify-content-center mt-2"><span class="text-center">{{itv.season_name}}</span>
                </div>
              </div>
            </mdb-card-title>
          </mdb-card-body>
          <!-- End heading card -->
          <!-- Start row 1 -->
          <div class="row mt-5 pl-3 justify-content-center">
            <!-- start techniques -->
            <div class="col-md-6">
              <!-- row grid -->
              <div class="row pl-3">
                <div class="col-12 d-flex justify-content-start mt-line">
                  <h6 class="font-weight-bold my-3 text-heading">Techniques :</h6>
                </div>
                <div class="col-12 p-0 ">
                  <ng-container *ngFor="let tech of techniques">
                    <!-- Level go here -->
                    <div class="col-6 level-attach d-flex justify-content-around align-items-start py-2">
                      <span class="techniques-name">{{tech}}</span>
                      <div class="level-rate d-flex justify-content-center">
                        <div class="level checked " mdbTooltip="Fresh man"></div>
                        <div class="level checked" mdbTooltip="Middle level"></div>
                        <div class="level checked" mdbTooltip="The best one"></div>
                      </div>
                    </div>
                    <!-- Level go here -->
                  </ng-container>
                </div>
              </div>
              <!-- End row grid -->
            </div>
            <!-- End techniques -->
            <!-- Interviwee information start -->
            <div class="col-md-6">
              <div class="col-12 d-flex justify-content-start mt-line">
                <h6 class="font-weight-bold my-3 text-heading">Interviewee Information</h6>
              </div>
              <div class="col-12  d-flex  justify-content-start">
                <ul class="public-links mb-1 text-content ">
                  <li class=" my-2">
                    <mdb-icon fas icon="birthday-cake mr-1" size="sm"></mdb-icon> Birthday : {{itv.birthday}}
                  </li>
                  <li class=" my-2">
                    <div *ngIf="itv.gender"> <mdb-icon fas icon="transgender mr-1"  size="sm"></mdb-icon> Gender : Female</div>
                    <div *ngIf="!itv.gender"> <mdb-icon fas icon="transgender mr-1"  size="sm"></mdb-icon> Gender : Male</div>
                  </li>
                  <li class=" my-2">
                    <mdb-icon fas icon="paperclip mr-1" size="sm"></mdb-icon> Attach cv {{itv.cv}}
                  </li>
                </ul>
              </div>
            </div>
            <!-- Interviwee information end -->
          </div>
          <!-- End row 1 -->
          <div class="row mt-3 pl-3 justify-content-center">
            <div class="col-md-6">
              <div class="col-12  d-flex justify-content-start mt-line">
                <h6 class="font-weight-bold my-3 text-heading ">Task sheduler</h6>
              </div>
              <div class="col-12 d-flex justify-content-start ">
                <ul class="public-links mb-1 text-content">
                  <li class="my-2">
                    <mdb-icon far icon="clock mr-1" size="sm"></mdb-icon> {{itv.time_interview}}
                  </li>
                  <li class="my-2">
                    <mdb-icon fas icon="map-marker-alt mr-2" size="md"></mdb-icon> {{itv.place_interview}}
                  </li>
                  <li class="my-2">
                    <mdb-icon fab icon="adn mr-1" size="sm"></mdb-icon> {{itv.position.name}}
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <div class="col-12 d-flex justify-content-start mt-line">
                <h6 class="font-weight-bold my-3 text-heading">Interviewee contact</h6>
              </div>
              <div class="col-12 d-flex justify-content-start ">
                <ul class="public-links mb-1 text-content">
                  <li class=" my-2">
                    <mdb-icon fas icon="address-card mr-1 " size="sm"></mdb-icon> Address : {{itv.address}}
                  </li>
                  <li class=" my-2">
                    <mdb-icon fas icon="mobile-alt mr-2" size="md"></mdb-icon> Phone call : {{itv.phone_number}}
                  </li>
                  <li class=" my-2">
                    <mdb-icon fas icon="envelope mr-1" size="sm"></mdb-icon> Email : {{itv.email}}
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 noti ">
              <h6 class="font-weight-bold my-3 text-center text-heading">Note</h6>
              <mdb-icon far icon="comment mx-2"></mdb-icon><span class="text-content ">{{itv.note}}</span>
            </div>
          </div>
          <div class="row justify-content-center mt-3">
            <button mdbBtn type="button" color="success" routerLink="../../update/{{userID}}" outline="true"
              mdbWavesEffect>
              <mdb-icon size="lg" far icon="edit"></mdb-icon>
            </button>
            <button mdbBtn type="button" color="danger" (click)="deleteModal.show();" outline="true" mdbWavesEffect>
              <mdb-icon far icon="trash-alt" size="lg"></mdb-icon>
            </button>
          </div>
          <!-- Information main -->
          <mdb-card-body>
          </mdb-card-body>
          <!-- Information main -->
        </mdb-card>
      </div>
    </div>
  </ng-container>
  <!--Grid row-->
</div>

<ng-template #loading>
  <div class="d-flex w-100 justify-content-center mt-5">
    <div class="spinner-border text-info" style="width: 50vh;height:50vh;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>


<div mdbModal #deleteModal="mdbModal" class="modal fade" id="thu2" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">Do you want delete?</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <i class="fas fa-times fa-4x mb-3 animated rotateIn"></i>

        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">

        <a type="button" mdbBtn color="danger" class="waves-effect button4" mdbWavesEffect
          (click)="deleteInterviewee(deleteModal);" data-dismiss="modal">Yes</a>
        <a type="button" mdbBtn color="danger" class="waves-effect button4" mdbWavesEffect (click)="deleteModal.hide()"
          data-dismiss="modal">No</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>